@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

.Typewriter {
  color: #ffffff !important;
  font-weight: 500;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@layer components {
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev::before,
.slick-next::before {
  color: #6d6d74;
}